@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<footer class="footer mt-auto">
    @* <img src="images/footer.png" alt="Footer" class="img-fluid w-100" /> *@
</footer>
